/**************************/
/****Universal Stylings****/
/**************************/

* {
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather', serif;
    background: url("../img/background.jpg")
}

/*****************************/
/****Element Look Stylings****/
/*****************************/

/****Background Colours****/


input:focus,
select:focus,
textarea:focus{
    background: lightgrey;
    transition-property: background;
}

header {
    background-color: #2b3946;
}

button {
    background-color: #00c1b7;
}

input,
textarea,
select{
    background-color: white;
    transition-duration: .5s;
}

/****Borders & Outlines****/

#contact_info input,
#contact_info select,
textarea,
select,
button{
border-radius: 5px;
}

#contact_info input:focus,
#contact_info select:focus,
textarea:focus,
select:focus{
    outline: none;
    border: solid 2px #41688D;
}

#intro {
    border-bottom: 3px solid #2b3946;
}

.border-top {
    border-top: solid 2px #2b3946
}

fieldset,
input,
textarea,
select,
button{
    border: none;
}

/****Height/Width****/

#contact_info input,
select{
    height: 3em;
}

textarea {
    height: 10em;
}

button {
    height: 3em;
}

/****Select Change Arrow Styling****/

select {
    background: transparent;
    -webkit-appearance: none;
}

.styled-select {
    background: url(../img/down_arrow.png) no-repeat right #eff0f1;
}



/*********************/
/****Font Stylings****/
/*********************/

header,
h2,
#intro,
footer{
    text-align: center;
}

footer{
    font-style: italic;
}

#intro,
footer {
    color: lightslategray;
}

button,
h1 {
    color: #fff;
}

h2,
legend,
label{
    color: #2b3946;
}

p,
label,
input,
select{
    font-weight: 300;
}

h1{
    font-weight: 400;
}

h2,
legend{
    font-weight: 700;
}

h1,
h2,
legend,
button{
    font-size: 1.2em;
}

p,
label{
    font-size: 1em;
}

h1{
    letter-spacing: .05em;
}

h2,
legend,
footer{
    letter-spacing: 0.02em;
}

p {
    line-height: 1.2em;
}

input:-moz-placeholder {
    text-align: right;
    font-style: italic;
    font-size: .9em;
}
input:-ms-input-placeholder {
    text-align: right;
    font-style: italic;
    font-size: .9em;
}
input::-webkit-input-placeholder {
    text-align: right;
    font-style: italic;
    font-size: .9em;
}

/*************************************/
/****Positioning & Layout Stylings****/
/*************************************/

/****Element Specific****/

p,
#contact_info input,
#contact_info label,
button{
    display: block; 
}

textarea {
    resize: none;
}

textarea,
button,
#contact_info input,
#contact_info select{
    width: 100%;
}

form{
    width: 90%;
}

input[name="user_zip"] {
    max-width: 50%;
}
/****Margin & Paddings****/

form,
textarea,
buttonh1,
h1,
h2,
fieldset{
    margin: 0 auto;
}

h2{
    margin: 1.5em 0 1em 0;
}

#intro {
    margin: 0 0 .2em 0;
}

input,
.styled-select,
footer{
    margin: .5em 0;
}

textarea {
    margin: 1em 0 2em 0;
}

input[id="js_news"],
#plain_format,
#monthly_freq,
input[id="zip"]{
    margin-bottom: 1.5em;
}

button
{
    margin: 1em 0;
}

span {
    margin: 0 .3em ;
}

fieldset {
    padding: 0
}

#contact_info input,
select{
    padding: 0 5%; 
}

h1,
legend{
    padding: 1em 0;
}

#intro{
    padding: 0 0 2em 0;
}

label {
    padding: 1em 0 0;
}

textarea {
 padding: 2%;
}


@media (min-width: 425px){
    
    .two-col {
        width: 50%;
        float: left;
    }
    
    
}

@media (min-width:760px){
    form,
    #contact_info input,
    .styled-select{
        width: 60%;
    }
    
    #zip {
        max-width: 30%;
    }
    
    #contact_info label,
    #contact_info input, 
    .styled-select,
    select {
        float: left;
    }
    
    #contact_info label {
        height: 3em;   
    }
    
    textarea {
        height: 7em;
    }
    
    #contact_info label {
        width: 40%;
        
    }
    
    #contact_info label {
        margin: 0.5em 0;
        
    }
    
    button {
        margin-top: 0;
    }
    
    .two-col {
        width: 100%;
        float: none;
    }
}



.clearfix {
  overflow: auto;
}


